* {
    padding: 0;
    margin: 0;
}
p {
    font-size: 3vh;
    line-height: 6.5vh;
    font-family: 'Lucida Console', 'Monaco', 'Courier New', monospace;
}
.banner {
    
}
h1 {
    font-size: 70px;
    font-family: 'Courier New', 'Lucida Console', 'Monaco', monospace;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(200, 191, 231);
}
.container {
    flex-grow: 1;
    width: 33%;
    height: 100px;
}

/* Solid border */
hr.solid {
    border-top: 2px solid rgb(41, 41, 41);
}

footer {
    margin-top: 200px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 645px;
}

h2 {
    font-family: 'Courier New', 'Lucida Console', 'Monaco', monospace;
}

button{
    width: 30%;
    height: 70px;
    margin-left: 33%;
    margin-right: 33%;
    padding: 3%;
    background-color:rgb(200, 93, 233);
    border: none;
}
button:hover{
    opacity: 40%;
}

.centred {
    font-size: 30px;
    margin: auto;
    width: 60%;
    padding-top: 40px;
}

.escort-container {
    /* We first create a flex layout context */
    display: flex;
    
    flex-flow: row wrap;
    
    justify-content: space-around;
    
    padding: 0;
    list-style: none;

}
  
.escort {
    font-family: 'Lucida Console', 'Monaco', 'Courier New', monospace;
    width: 200px;
    height: 250px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.selectable {
}
.selectable:hover{
    opacity: 0.6;
}
.wrapper-container {
    display: flex;
    flex-flow: column;

}

.wrapper {
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 645px;
}

.wider-wrapper{
    display: block;
    padding: 30px;
    width: 800px;
    margin: -30px -130px -130px -130px;

}

.half-container{
    display: flex;
    flex-flow: row;
}

.left-half{
    flex: 50%;
    text-align: center;
}

.right-half{
    flex: 50%;
    margin-left: 100px
}

.poem{
    font-size: 20px;
    line-height: 33px;
}

audio{
    padding-bottom:20px;
}

.menu-wrapper{
    font-size: 50px;
    font-family: 'Lucida Console', 'Monaco', 'Courier New', monospace;
}

.menu-button{
    width: 50px;
    margin-bottom:30px;
    height: 50px;
    margin-left: 33%;
    margin-right: 33%;
    background-color:rgb(200, 93, 233);
    border: none;
}

#cursed-image{
    pointer-events: none;
    position:absolute;
    width: 100%;
    height: 170%;
    display: none;
}


@media only screen and (max-width: 600px) {
    .wider-wrapper {
        flex-flow: column;
        display: block;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    .escort-container{
        flex-flow: column;
    }
    img {
        display: block;
        max-width:300px;
        max-height:300px;
        width: auto;
        height: auto;
    }
    #small{
        display: block;
        max-width:300px;
        max-height:300px;
        width: auto;
        height: auto;
    }
    .wrapper {
        display: block;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    footer {
        width: 300px;
    }
    .half-container {
        flex-flow: column;
    }
    .right-half {
        margin-left: 0px;
        margin-top: 75px;
    }
    #cursed-image {
        max-width: 0%;
        max-height: 0%;
        display: none;
    }
}